{% extends 'layout/base.html' %}

{% block title %}Inbox - {{ current_user.username }}{% endblock title %}

{% block wrapper %}
<div class="msg-inbox">
  <div class="msg-senders">
    {% if new_sender %}
    <div class="msg-sender current-sender" target="chat-{{ new_sender.id }}">
      <figure><img src="{{ url_for('static', filename='profile_pictures/'+new_sender.profile_pic) }}" alt="Profile"></figure>
      <h1>{{ new_sender.full_name }}</h1>
    </div>
    {% endif %}
    {% for n, user in enumerate(current_user.contacts()) %}
    <div class="msg-sender {{ not (new_sender or n) and 'current-sender' or '' }}" target="chat-{{ user.id }}">
      <figure><img src="{{ url_for('static', filename='profile_pictures/'+user.profile_pic) }}" alt="Profile"></figure>
      <h1>{{ user.full_name }}{% if current_user.new_messages(user) %}<span>{{ current_user.new_messages(user) }} new</span>{% endif %}</h1>
    </div>
    {% endfor %}
  </div>
  <div class="msg-chats">
    {% if new_sender %}
    <div id="chat-{{ new_sender.id }}" class="msg-chat current-chat">
      <div class="msg-container"></div>
      <form action="" method="POST">
       <input type="hidden" name="target" value="{{ new_sender.username }}">
       <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
       <textarea
         name="content"
         placeholder="Enter message for {{ new_sender.full_name }}"
         autofocus
         required
       ></textarea>
       <button type="submit">Send</button>
     </form>
    </div>
    {% endif %}
    {% for n, user in enumerate(current_user.contacts()) %}
     <div id="chat-{{ user.id }}" class="msg-chat {{ not (new_sender or n) and 'current-chat' or '' }}">
       <div class="msg-container">
          {% for message in current_user.chat(user) %}
          <div class="msg-box sender-{{ message.sender == current_user and 'me' or 'other' }}">
            <div class="msg-content">
              <p class="msg-header">
                {% if message.sender != current_user %}
                <span class="msg-author">{{ user.full_name }}</span>
                {% endif %}
                <span class="msg-time">{{ moment(message.timestamp).format("DD MMM, HH:mm") }}</span>
              </p>
              <p class="msg-body">{{ message.content }}</p>
            </div>
          </div>
        {% endfor %}
       </div>
       <form action="" method="POST">
        <input type="hidden" name="target" value="{{ user.username }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <textarea
          name="content"
          placeholder="Enter message for {{ user.full_name }}"
          {{ not (new_sender or n) and 'autofocus' or '' }}
          required
        ></textarea>
        <button type="submit">Send</button>
      </form>
     </div>
    {% endfor %}
  </div>
</div>
{% endblock wrapper %}