{% extends 'layout/base.html' %}

{% block title %}Likes - {{ current_user.username }}{% endblock title %}

{% block content %}
  <h1>Likes ({{ current_user.new_likes() }} new)</h1>

  <div class="user-list-list">
    {% for like in likes.items %}
    {% set user = like.sender %}
    <div class="user-list-banner user-list-{{ 'read' if like.read else 'unread'}}">
      <div>
        <figure><img src="{{ url_for('static', filename='profile_pictures/'+user.profile_pic) }}" alt="Proflikeile"></figure>
        <h1><b>{{ user.first_name }} {{ user.last_name }}</b> liked you. <span class="user-list-timestamp">{{ moment(like.timestamp).fromNow() }}</span></h1>
      </div>
      <i
        class="{{ 'fas' if current_user.liking(user) else 'far'}} fa-heart like"
        param="target={{ user.username }}&csrf_token={{ csrf_token() }}"
        url="{{ url_for('profile.like', username=current_user.username) }}"
      ></i>
    </div>
    {% endfor %}
  </div>
  
  <div class="pagination">
    {% for page_num in likes.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
    {% if page_num %}
      {% if page_num == likes.page %}
      <a class="pagination-link current-page" href="{{ url_for('home.index', page=page_num) }}">{{ page_num }}</a>
      {% else %}
      <a class="pagination-link" href="{{ url_for('home.index', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
    ...
    {% endif %}
  {% endfor %}
  </div>
{% endblock content %}