{% extends 'layout/base.html' %}

{% block title %}{{ author.username }}{% endblock title %}

{% block content %}
<div class="profile">
  <figure>
    <img src="{{ url_for('static', filename='profile_pictures/'+author.profile_pic) }}" alt="Profile Picture">
  </figure>
  <h1>{{ author.full_name }}
    {% if current_user.is_authenticated and current_user != author %}
    <i
      class="{{ 'fas' if current_user.liking(author) else 'far'}} fa-heart like"
      param="target={{ author.username }}&csrf_token={{ csrf_token() }}"
      url="{{ url_for('profile.like', username=current_user.username) }}"
    ></i>
    {% elif not current_user.is_authenticated %}
    <i class="far fa-heart" onclick="window.location='/login'"></i>
    {% endif %}
  </h1>
  <p>{{ author.description }}</p>
  <h2>{{ author.username }}</h3>
  <hr>
  <ul class="data">
    <li>
      <h4>Age</h4>
      <p>{{ author.age }}</p>
    </li>
    <li>
      <h4>Gender</h4>
      <p>{{ author.gender }}</p>
    </li>
    <li>
      <h4>Meme taste</h4>
      <p>{{ author.meme_taste }}</p>
    </li>
    <li>
      <h4>Location</h4>
      <p>{{ author.city }}, {{ author.country }}</p>
    </li>
  </ul>
  <h3>Description in 3 memes:</h3>
  <ul class="memes">
    <li><img src="{{ url_for('static', filename='descriptions/'+author.meme_1) }}" alt="Meme"></li>
    <li><img src="{{ url_for('static', filename='descriptions/'+author.meme_2) }}" alt="Meme"></li>
    <li><img src="{{ url_for('static', filename='descriptions/'+author.meme_3) }}" alt="Meme"></li>
  </ul>
</div>
{% endblock content %}