{% extends "layout/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<form method="POST">
  <h1>Reset Password</h1>
  <div>
    <label for="password1">Password</label>
    <input type="password"  id="password-1" name="password-1" placeholder="Enter password">
  </div>
  <div>
    <label for="password2">Password (Confirm)</label>
    <input type="password"  id="password-2" name="password-2" placeholder="Confirm password">
  </div>
  <br>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button type="submit" class="btn-success">Reset Password</button>
</form>
{% endblock %}