{% extends 'layout/base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
  <h1>Sign Up</h1>
  <form method="post">
    <div>
      <label for="email">Email Adress</label>
      <input type="email" name="email" placeholder="Enter email">
    </div>
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Enter username">
    </div>
    <div>
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" placeholder="Enter first name">
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" placeholder="Enter last name">
    </div>
    <div>
      <label for="password1">Password</label>
      <input type="password" name="password1" placeholder="Enter password">
    </div>
    <div>
      <label for="password2">Password (Confirm)</label>
      <input type="password" name="password2" placeholder="Confirm password">
    </div>
    <br>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn-success">Submit</button>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Click to log in!</a></p>
  </form>
{% endblock content %}