{% extends 'layout/base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
  <h1>Sign Up</h1>
  <form method="post">
    <div>
      <label for="email">Email Adress</label>
      <input type="email" name="email" placeholder="Enter email" required>
    </div>
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Enter username" required>
    </div>
    <div>
      <label for="full-name">Name</label>
      <input type="text" name="full-name" id="full-name" placeholder="Enter full name" required>
    </div>
    <div>
      <label for="birthday">Date of birth</label>
      <input type="date" name="birthday" id="birthday" required>
    </div>
    <div>
      <label for="password1">Password</label>
      <input type="password" name="password-1" placeholder="Enter password" required>
    </div>
    <div>
      <label for="password2">Password (Confirm)</label>
      <input type="password" name="password-2" placeholder="Confirm password" required>
    </div>
    <br>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn-success">Submit</button>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Click to log in!</a></p>
  </form>
{% endblock content %}