{% extends 'layout/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  <div class="search">
    <h1 onclick="expandSearch()"><i class="fas fa-search"></i> Find the perfect match</h1>
    <form action="" method="POST">
      <div>
        <label for="name">Full Name contains</label>
        <input type="text" name="name" id="name" placeholder="Enter name">
      </div>
      <div>
        <label for="description">Description contains</label>
        <input type="text" name="description" id="description" placeholder="Enter keyword">
      </div>
      <!--<div>
        <label for="gender">Gender</label>
        <input type="text" name="gender" id="gender" placeholder="Enter gender, i.e male, female...">
      </div>-->
      <div>
        <label for="memes">Best Memes contains</label>
        <input type="text" name="memes" id="memes" placeholder="Enter keyword, i.e stonks, shrek...">
      </div>
      <div>
        <label>Age between</label>
        <div class="flex-input">
          <input type="number" name="min-age" id="min-age" placeholder="Min age">
          <input type="number" name="max-age" id="max-age" placeholder="Max age">
        </div>
      </div>
      <div>
        <label for="country">Country</label>
        <input type="text" name="country" id="country" placeholder="Enter country">
      </div>
      <div>
        <label for="city">City</label>
        <input type="text" name="city" id="city" placeholder="Enter city">
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button type="submit"><i class="fas fa-search"></i> &nbsp; Search</button>
    </form>
  </div>
  {% include 'layout/search_result.html' %}
  
{% endblock content %}