* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main .user-list-list {
  font-family: Helvetica, sans-serif;
}

main .user-list-banner {
  background-color: #eee;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 15px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .user-list-unread {
  background-color: #ddd;
}

main .user-list-banner figure {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  background-color: black;
}

main .user-list-banner img {
  height: 100%;
}

main .user-list-banner div {
  display: flex;
  align-items: center;
}

main .user-list-banner h1 {
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 22px;
  color: #777;
}

main .user-list-banner h1 b {
 color: #000;
}

main .user-list-banner h1 .user-list-timestamp {
  font-weight: 100;
  font-size: 20px;
  margin-left: 10px;
}

main i {
  font-size: 26px;
  color: #800;
  transition: all .7s ease-in-out;
}

main i:hover {
  cursor: pointer;
}

main i.fas {
  transform: rotate3d(1, 1, 1, 360deg);
  color: #c00;
}

